.contact-container{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
    display: flex;
    justify-content: center;
    
}

.contatos-flex {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
}

.contact {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    flex-direction: column ;
    width: 16.6vw;
    

}

.contact img {
    width: 18px;
    margin-right: 10px;
    
}

.contact li {
    list-style: none;
    margin: 5px 0 5px 0;
    width: 100%;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
}



.contact ul {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding: 0 !important;
    align-items: flex-start;
}

@media (max-width: 768px) {


    .contact-container{
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 60px 20px;
        background-color: #05031b;
        display: flex;
        justify-content: center;
        
    }

    .contact {
        display: flex;
        padding: 15px;
        align-items: flex-start;
        flex-direction: column ;
        width: 45vw;
        
    
    }
    
}